body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

.Estilo2 {font-size: 11px}
.Estilo5 {font-size: 11px}
.Estilo6 {font-size: 11px}

A  { text-decoration : none; color : black; }
A:Visited  { text-decoration : none; color : black; }
A:Active  { text-decoration : none; color : black; }
A:Hover  { text-decoration : underline; color : black; }

A.blanco  { text-decoration : none; color : white; }
A.blanco:Visited  { text-decoration : none; color : white; }
A.blanco:Active  { text-decoration : none; color : white; }
A.blanco:Hover  { text-decoration : underline; color : white; }

A.naranja  { text-decoration : none; color : #D65300; }
A.naranja:Visited  { text-decoration : none; color : #D65300; }
A.naranja:Active  { text-decoration : none; color : #D65300; }
A.naranja:Hover  { text-decoration : underline; color : #D65300; }

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.boxBlur {
	border: #000000 1px solid;  	
	color: #000000; 
 	background-color: white;
	margin-left:5px;
	font-family:verdana, trebuchet MS, trebuchet, arial, sans-serif;
	font-size: 0.8em; 
}
.boxFocus {
	border: #000000 1px solid; 
	color: #000000;
	background-color: #FFEDC6;
	margin-left:5px;	
	font-family:verdana, trebuchet MS, trebuchet, arial, sans-serif;
	font-size: 0.8em; 
}