body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

select {
	border: #000000 1px solid;  	
	color: #000000; 
 	background-color: white;
	margin-left:5px;
	font-family:verdana, trebuchet MS, trebuchet, arial, sans-serif;
	font-size: 11px; 
}
.Estilo2 {font-size: 11px}
.Estilo5 {font-size: 11px}
.Estilo6 {font-size: 11px}

A  { text-decoration : none; color : black; }
A:Visited  { text-decoration : none; color : black; }
A:Active  { text-decoration : none; color : black; }
A:Hover  { text-decoration : underline; color : black; }

A.blanco  { text-decoration : none; color : white; }
A.blanco:Visited  { text-decoration : none; color : white; }
A.blanco:Active  { text-decoration : none; color : white; }
A.blanco:Hover  { text-decoration : underline; color : white; }

A.naranja  { text-decoration : none; color : #D65300; }
A.naranja:Visited  { text-decoration : none; color : #D65300; }
A.naranja:Active  { text-decoration : none; color : #D65300; }
A.naranja:Hover  { text-decoration : underline; color : #D65300; }

A.naranjas  { text-decoration : none; color : #CD3500; }
A.naranjas:Visited  { text-decoration : none; color : #CD3500; }
A.naranjas:Active  { text-decoration : none; color : #CD3500; }
A.naranjas:Hover  { text-decoration : underline; color : #CD3500; }

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.boxBlur {
	border: #000000 1px solid;  	
	color: #000000; 
 	background-color: white;
	margin-left:5px;
	font-family:verdana, trebuchet MS, trebuchet, arial, sans-serif;
	font-size: 11px; 
}
.boxFocus {
	border: #000000 1px solid; 
	color: #000000;
	background-color: #FFEDC6;
	margin-left:5px;	
	font-family:verdana, trebuchet MS, trebuchet, arial, sans-serif;
	font-size: 11px; 
}

table.box {
  color: #000000;
  background-color: #d6d6d6;
  border: none;
  padding: 1px;
}
tr.boxheader {
  background-color: #E27400;
}
td.boxheader {
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
}
tr.boxbody {
  color: #000000;
  background-color: #FFFFFF;
}
